/* .btn-custom {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 1em;
  border: 2px solid #fefefe;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #fefefe;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  border-radius: 0.25rem;
}

.btn-custom:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #fefefe;
  z-index: -1;
}

.btn-custom:hover,
.btn-custom:focus {
  color: #222;
}

.btn-custom:hover:before,
.btn-custom:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-custom:active {
  transform: scale(0.9);
} */

.btn-custom {
  --color: #fff;
  /* padding: 1em 2em; */
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: -1;
 }
 
 .btn-custom::before, .btn-custom::after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .btn-custom::before {
  top: -1em;
  left: -1em;
 }
 
 .btn-custom::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .btn-custom:hover::before, .btn-custom:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .btn-custom:hover {
  color: #222;
 }
 
 .btn-custom:active {
  filter: brightness(.8);
 } 
 
