@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #222222;
  --black_70: rgba(34, 34, 34, 0.7);
  --blackReduced: #dcdcdc;
  --gray: #777777;
  --white: #fefefe;
  --whiteReduced: #7e7d7d;
  --offWhite: #fcfcfc;
  --linearLight: #292929;
  --linearDark: #161616;
  --linerGradient: linear-gradient(
    108.46deg,
    var(--linearLight) 0%,
    var(--linearDark) 100%
  );
  --linerGradientInverse: linear-gradient(
    108.46deg,
    var(--linearDark) 0%,
    var(--linearLight) 100%
  );
}

@layer base {
  a {
    @apply cursor-pointer;
  }
}

html,
body {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ============================================= Text Highlight Styling */
::selection {
  background: #222; /* WebKit/Blink Browsers */
  color: #fefefe;
  border-radius: 10px;
}
::-moz-selection {
  background: #222; /* Gecko Browsers */
  color: #fefefe;
  border-radius: 5px;
}

/* ============================================= Scroll Bar Styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #a8a8a8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353535;
  width: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

.bg-primary-color {
  background-color: var(--offWhite);
}

.bg-secondary-color {
  background: var(--linerGradient);
}

.text-color-black {
  color: var(--black);
}

.text-color-black-reduce {
  color: var(--blackReduced);
}

.text-color-white {
  color: var(--white);
}

.text-color-white-reduce {
  color: var(--whiteReduced);
}

.activeButtonColor {
  color: var(--black);
}

.inactiveButtonColor {
  color: var(--gray);
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.homepageDivider {
  width: 70vw;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  opacity: 0.2;
}

.hero-btn {
  z-index: 111111 !important;
}
button {
  z-index: 1000 !important;
}
.Button_btn-custom__pRdL3 {
  font-size: 14px !important;
}