@import url('../../../theme.css');

.bg {
    background: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.button {
    --color: #222;
    padding: 1em 2em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: #fff;
   }
   
   .button:active {
    filter: brightness(.8);
   } 